#input_div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

#logo{
    height: 300px;
    margin-bottom: 40px;
}

.logo_div{
    margin-top: 80px;
}

.button_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 15px;
}

#background{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89,31,107,255);
}