#cad_title{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    font-size: 0.7em;
    text-align: center;
}

#cad_input{
    display:flex;
    gap: 20px;
    margin-top: 50px;
    max-width: 100vw;
    flex-wrap: wrap;
}

#cad_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

#cad_button{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#cad_form_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17vw;
    margin-right: 17vw;
}
